@charset "UTF-8";

.container {
    width: 970px;
}

@media (min-width: 1000px) {

  .container {
    width: 970px;
  }
}

body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #444;
  background-color: #ffffff;
  font-family: 'Gotham-Light', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.center-block {
  display: inline-block;
  text-align: center;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(fonts/glyphicons-halflings-regular.eot);
  src: url(fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(fonts/glyphicons-halflings-regular.woff) format("woff"), url(fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}

@font-face {
  font-family: 'Gotham-Normal';
  src: url(fonts/Gotham-Black.otf);
}


@font-face {
  font-family: 'Gotham-Medium';
  src: url(fonts/Gotham-Medium.otf);
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url(fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: 'Gotham-Light';
  src: url(fonts/Gotham-Light.otf);
}

@font-face {
  font-family: 'Gotham-thin-italic';
  src: url(fonts/Gotham-ThinItalic.otf);
}

#logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#logo > a {
  background: url("images/logo.png");
  display: inline-block;
  width: 160px;
  height: 37px;
}

#footer {
  padding: 15px;
}

#content {
  background: #fff;
}


#content .the-content.ul,
#content .the-content ul{
  margin: 0.75em;
  padding: 0.75em;
}

#content .the-content li{
  list-style-type: none;
}

#content .the-content ul > li:before{
    content: "";
    border-color: transparent #555;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.the-content h2, .the-content h3 {
  font-size: 22px;
  border-bottom: 1px solid #e1e1e1;
  background: rgba(0,0,0,.01);
  padding: 6px;
}

.the-content blockquote p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  margin: 1em !important;
  font-family: 'Gotham-thin-italic';
}

.container a {
  text-decoration: none;
  color: inherit;
}


.centerize,
.centerize > *{
  text-align: center;
}

.the-content strong {
  font-family: 'Gotham-Medium';
}

.the-content img {
  max-width: 100%;
  height: auto;
}

.the-content a {
  text-decoration: underline !important;
}

.the-content ul,
.the-content ol {
  padding: 10px;
}

.the-content li {
  list-style-type: disc;
  list-style-position: inside;
}

.the-content a {
  text-decoration: underline;
  color: #EE576B;
}

.the-taxonomies {
  color: #999;
  margin-bottom: 10px;
}

.the-taxonomies a{
  color: #222;
  text-decoration: underline;
}

.clear {
  clear: both;
}

.inline {
  display: inline-block;
  vertical-align: top;
}


.nav {
  text-align: right;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.nav > li{
  display: inline-block;
}

.nav > li > a {
  color: #919092;
}

.nav > li > a:hover,
.nav .current-page-ancestor a,
.nav .current-menu-ancestor a,
.nav .current-menu-item > a{
  color: #000;
}



.hp-intro-content {
  display: table;
}

#hp-intro .text .demo-link{
  margin-top: 15px;
}
#hp-intro .content {
  padding-top: 40px;
}
#hp-intro .content p{
  text-align: justify;
}

.page-template-tpl-home-php .case-studies .image img {
  max-height: 350px;
  width: auto;
}

.display-table {
  display: table;
  width: 100%;
}

.display-row {
  display: table-row;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;

  width: 100%;
}

.container-fluid {
  background: #f0f0f0;
}

.tabs {
  padding: 0;
}

.tabs .list {
  padding: 0 20px;
}

.tabs h2 {
  color: #fff;
}


.tabs .item {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  cursor: pointer;
  height: 265px;
  transition: background .6s;
}

.strengths.tabs .item.active {
  background: #ef7c22;
  background-image: url('images/noise.png');
  background-repeat: repeat;
  transition: background .6s;
}

.data-sheets.tabs .item.active {
  background-color: #EE576B;
  background-image: url('images/noise.png');
  background-repeat: repeat;
  transition: background .6s;
}

.tabs .item .tip {
  display:block;
  position: absolute;
  bottom: -20px;
  opacity: 0;
  transition: opacity .6s;
}

.tabs .item.active .tip {
  opacity: 1;
  transition: opacity .6s;
}

.tabs-content {
  display: none;
}

.tabs-content .title {
  margin-bottom: 80px;
  margin-top: 20px;
}

.tabs-content .text {
  margin-bottom: 20px;
}

.tabs-content.active {
  display: block;
  padding: 20px;
}

.tabs-content h2 {
  color: #333;
}

.title, #hp-intro h2, .differences-intro h2{
  text-transform: uppercase;
  margin-top: 0;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  font-family: 'Gotham-light', sans-serif;
}


.differences-intro {
  margin-bottom: 20px;
}

.strengths .icon {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.strengths .display-cell {
  height: 350px;
  text-align:center;
}

.differences ul {
  margin-top: 40px;
}

.differences .text {
  font-size: 19px;
}

.differences .title {
  text-transform: none;
  font-size: 19px;
  margin-bottom: 10px;
}

.case-studies {
  font-size: 18px;
}

.case-studies .list {
  padding: 0;
  margin: 0;
}

.case-studies li.gray {
  background: #787878;
  color: #fff;
}

.case-studies li.teal {
  background: #5ec2b5;
  color: #fff;
}

.case-studies .teal .image {
  float: right;
  text-align: right;
}


.case-studies .desc {
  font-size: 16px;
}

.case-studies-list .logo {
  height: 90px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  display: table-cell;
  transition: ease-in-out opacity .4s;
}

.error {
  color: red;
  font-size: 11px;
}

.super-large-text {
  font-size: 94px;
  margin-top: 80px;
  margin-bottom: 15px;
}

.page-title {
  font-size: 18px;
  text-transform: uppercase;
}

.demo-link {
  display: inline-block;
  padding: 5px 15px 5px 20px;
  color: #fff !important;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  transition: ease-in-out padding .3s;
}

.the-content a.demo-link{
    text-decoration: none !important;

}

.demo-link:hover {
  padding: 5px 25px 5px 25px;
}

.demo-link {
  background-color: #ccc;
  color: #111 !important;
}

.bg-white,
.demo-link.white {
  background-color: #f1f1f1;
  color: #5DC1B4 !important;
}

.bg-gray,
.demo-link.gray {
  background-color: #ccc;
  color: #111 !important;
}

.bg-dark-gray,
.demo-link.dark-gray {
  background-color: #333;
  color: #ccc !important;
}

.bg-pink,
.demo-link.pink {
  background-color: #EE576B;
  color: #fff;
}

.bg-orange,
.demo-link.orange {
  background-color: #EE7B21;
  color: #fff !important;
}

.bg-teal,
.demo-link.teal {
  background-color: #5DC1B4;
}

.bg-yellow,
.demo-link.yellow {
  background-color: #FBC84E;
}

.demo-link .tip {
  position: absolute;
  right: -14px;
  top: 0;
}

.demo-link .tip.flipped {
  position: absolute;
  left: -12px;
  top: 0;
}

.demo-link .tip {
  fill: #ccc;
}

.demo-link.white .tip {
  fill: #f1f1f1;
}

.demo-link.gray .tip {
  fill: #ccc;
}

.demo-link.dark-gray .tip {
  fill: #333;
}

.demo-link.pink .tip {
  fill: #EE576B;
}

.demo-link.orange .tip {
  fill: #EE7B21;
}

.demo-link.teal .tip {
  fill: #5DC1B4;
}

.demo-link.yellow .tip {
  fill: #FBC84E;
}

.white-papers-list .title {
  transition: all .6s;
}

.hover-yellow:hover .title,
.title.yellow {
  color: #FBC84E;
  transition: color .6s;
}

.hover-pink:hover .title,
.title.pink {
  color: #EE576B;
  transition: color .6s;
}

.hover-orange:hover .title,
.title.orange {
  color: #EE7B21;
  transition: color .6s;
}

.hover-teal:hover .title,
.title.teal {
  color: #5DC1B4;
  transition: color .6s;
}

.next-post-link {
  float:right;
  position: relative;
  right: 66px;
}

.prev-post-link {
  float:left;
  margin-left: 25px;
}

.sub-navigation {
  text-align: center;
  background: #fff;
}

.sub-menu {
  display: none;
  position: absolute;
  text-align: left;
  background: rgba(255,255,255,0.8);
  z-index: 99;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  border-radius: 0 0 2px 2px;
}

.sub-menu > li > a {
  display: block;
  padding: 5px;
  width: 130px;
  color: #333;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  text-decoration: none;
  font-size: 13px;
}

.sub-menu > li > a:hover {
  background: #fff;
}

.nav .menu-item-has-children:hover .sub-menu{
  display: block;
}

li {
  list-style-type: none;
}


#footer .menu  {
  padding: 0;
  margin: 0;
}

#footer .menu a {
  font-size: 12px;
}

.intro {
  background-color: #3f3f3f;
  width: 100%;
  height: 300px;
  position: relative;
  font-family: 'Gotham-Light', sans-serif;
}

.header-area {
  height: 300px;
  overflow: hidden;
  position: relative;
}
/*
.header-area:before {
  content: '.';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('images/noise.png');
  background-repeat: repeat;
  z-index: 10;
  top: 0;
  left: 0;
}*/

.header-area .video-item,
.header-area .blog-post-item {
  position: relative;
  z-index: 99;
}

.intro .text {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #fff;
}

.about-page .citation .image {
  display: inline-block;
  margin-right: 5px;
}

.about-page .citation .text {
  display: inline-block;
  width: 210px;
  vertical-align: bottom;
}

.about-page .citation .text blockquote {
  font-style: normal;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0;
  margin: 0;
}

.about-page .citation .text h2,
.about-page .citation .text h3,
.about-page .citation .text h4,
.about-page .citation .text h5,
.about-page .citation .text h6
{
  font-size: 10px;
}

.story-section img {
  width: 180px;
  height: auto;
}


.theme_bg_darker {
  background: #404042;
  color: #fff;
}

.theme_bg_dark {
  background: #787878;
  color: #fff;
}

.theme_bg_white {
  background: #ffffff;
  color: #545456;
}

.theme_bg_light {
  background: #A09FA1;
  color: #fff;
}

.theme_bg_lighter {
  background: #f0f0f0;
  color: #545456;
}

.theme_bg_pitch_black {
  background: #000;
  color: #777;
}

.more-videos .row:nth-child(even) {
  background: #ffffff;
  color: #545456;
}

.more-videos .row:nth-child(odd) {
  background: #A09FA1;
  color: #fff;
}

.zebra-light .row:nth-child(even) {
  background: #ffffff;
  color: #545456;
}

.zebra-light .row:nth-child(odd) {
  background: #f0f0f0;
  color: #545456;
}

.rainbow-list li:nth-child(1n) .title {
  color: #EE7B21;
}

.rainbow-list li:nth-child(1n) .bg {
  background-color: #EE7B21;
}

.rainbow-list li:nth-child(2n) .title {
  color: #FBC84E;
}

.rainbow-list li:nth-child(2n) .bg {
  background-color: #FBC84E;
}

.rainbow-list li:nth-child(3n) .title {
  color: #5DC1B4;
}

.rainbow-list li:nth-child(3n) .bg {
  background-color: #5DC1B4;
}

.rainbow-list li:nth-child(4n) .title {
  color: #EE576B;
}

.rainbow-list li:nth-child(4n) .bg {
  background-color: #EE576B;
}

.sub-navigation .menu-item a{
  padding: 10px;
  display: inline-block;
}

.single-executive-member {
  height: 285px;
  overflow: hidden;
  border-radius: 3px;
}

.single-executive-member img {
  border-radius: 3px;
  max-width: 172px;
  height: auto;
}

.single-executive-member .subtitle {
  margin-bottom: 15px;
}
.executive-team-list {
  font-size: 0;
}

.executive-member-link img {
  width: 74%;
  height: auto;
  border-radius: 2px;
}

.advisor-member-link,
.executive-member-link{
  margin-bottom: 20px;
  display: inline-block;
}

.executive-member-link:nth-child(8),
.executive-member-link:nth-child(4) {
  margin-right: 0;
}

.executive-member-link,
.executive-member-link:hover,
.executive-member-link .text
{
  text-decoration: none;
  border: none;
  color: #545456;
}

.executive-member-link .image{
  width: 100%;
  height: 210px;
  overflow: hidden;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 10px;
}

.advisor-member-link .image{
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 10px;
}

.advisor-member-link img{
  width: 140px;
  margin-bottom: 5px;
}

.executive-member-link img{
  width: 218px;
  margin-bottom: 5px;
}

.team-devision {
  margin-bottom: 20px;
  display: inline-block;
}

.col-xs-4.member-item {
  height: 160px;
}

.col-xs-2.member-item {
  height: 110px;
}

.col-xs-4 .member-photo img {
  width: 120px;
}

.col-xs-2 .member-photo img {
  width: 50px;
}

#company-information {
  text-align: center;
}

.member-photo {
  overflow: hidden;
  margin-bottom: 3px;
  display: inline-block;
}

.col-xs-4 .member-photo {
  height: 110px;
}

.col-xs-2 .member-photo {
  height: 65px;
}


.member-item:hover .member-position {
  color: #EE576B;
}

.member-name {
  height: 14px;
  overflow: hidden;
  margin-bottom: 2px;
  font-size: 11px;
}

.member-position {
  font-size: 12px;
  color: #000;
}

.executive-member-link.selected{

}
.video-item {
  margin-bottom: 20px;
}

.featured-blog-posts .blog-post-item,
.post-row .blog-post-thumbnail,
.video-item {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg#grayscale); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
  -webkit-transition: -webkit-filter .5s;
}

.featured-blog-posts .blog-post-item:hover,
.post-row:hover .blog-post-thumbnail,
.video-item:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* Firefox 4+ */
  filter: none; /* IE 6-9 */
  -webkit-transition: -webkit-filter .5s;
}


.grayscalize img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg#grayscale); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
  -webkit-transition: -webkit-filter .5s;
}

.grayscalize:hover img,
.grayscalize.selected img{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* Firefox 4+ */
  filter: none; /* IE 6-9 */
}

.join-us {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}

.join-us .title{
  display: inline-block;
  margin-right: 15px;
}

.customers-list li.item{
  margin-bottom: 20px;
  text-align: left;
}
.customer-logo-container{
  height: 50px;
}
.customer-logo {
  height: 60px;
  text-align: center;
  vertical-align: middle;
}
.parnter-logo img,
.customer-logo img{
  max-height: 50px;
  max-width: 100%;
}

.customers-list .item {
  height: 95px;
  overflow: hidden;
}

.partners-list .parnter-logo {
  height: 100px;
  vertical-align: middle;
  text-align: center;
}

.partners-list .item {
  padding-bottom: 20px;
}

.section .container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.data-sheets.section > .container {
  padding: 0;
}

.story-section .container {
  padding-top: 30px;
  padding-bottom: 30px;
}



.white-papers-list .item .icon {
  display: inline-block;
  width: 30px;
  height: 36px;
  background-image: url('images/document-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 20px;
}

.video-thumbnail {
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
}

.video-thumbnail,
.video-no-thumbnail,
.blog-post-no-thumbnail {
  position: relative;
  width: 95%;
  height: 120px;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
}

.video-no-thumbnail {
  background: #3e3e3e url("images/convertro-logo.png") no-repeat 50% 50%;
}

.blog-post-no-thumbnail {
  background: #ffffff url("images/convertro-logo.png") no-repeat 50% 50%;
}

.featured-blog-posts .blog-post-no-thumbnail {
  background: #eff1f0 url("images/convertro-logo.png") no-repeat 50% 50%;
}

.featured-blog-posts .blog-post-thumbnail,
.featured-blog-posts .blog-post-no-thumbnail,
.featured-videos .video-thumbnail{
  border-radius: 5px;
  width: 400px;
  height: 166px;
  overflow: hidden;
}

.featured-videos .video-thumbnail img{
  border-radius: 3px;
}

.video-thumbnail img{
  width: 275px;
  height: auto;
}

.padd-row {
  padding: 25px 0;
}


.play-icon {
  width: 48px;
  height: 48px;
  background: url("images/play-icon.png") no-repeat 50% 50%;
  display: inline-block;
  left: 50%;
  top: 50%;
  margin-top: -24px;
  margin-left: -24px;
  position: absolute;
  z-index: 10;

}

.related-videos-list li {
  display: inline-block;
  width: 33%;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.related-videos-list li.selected {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background: #f1f1f1;
}

.pagination {
  padding: 0;
  display: block;
}

.pagination .page-numbers{
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  border-radius: 50%;
  color: #aaa;
  text-decoration: underline;
}

.pagination .page-numbers.current{
  text-decoration: none;
  color: #111;
}

.prev.page-numbers,
.prev.page-numbers a,
.next.page-numbers a,
.next.page-numbers {
  text-decoration: none;
}



.subtitle {
  font-size: 14px;
}

.more-videos .subtitle {
  height: 46px;
  width: 80%;
  text-transform: none;
  overflow: hidden;
}

.blog-post-image {
  display:inline-block;
  margin-bottom: 10px;
}

.blog-post-item .title {
  margin-bottom: 0px;
  padding-right: 30px;
}

.blog-post-item .the-time {
  margin: 0 0 10px 0;
}

.single-video-content {
  height: 280px;
  margin-top: 15px;
}
.single-video-intro .title {
  margin-top: 15px;
}

.post-list-item .post-title {
  margin-bottom: 0;
}

.post-list-item .dimmed {
  margin-top: 0;
}

.back-link {
  font-size: 13px;
}

.dimmed {
  opacity: 0.4;
  margin-top: 5px;
  font-size: 13px;
}

.posts .demo-link {
  margin-top: 25px;
}

.sidebar {
  margin-top: 20px;
  padding-left: 40px;
}

.sidebar img {
  width: 100%;
  height: auto;
}

.sidebar h2,
.sidebar h3,
.sidebar h4 {
  font-size: 18px;
  text-transform: uppercase;
}

.single-post-page .main-image {
  text-align: center;
}

.single-post-page .main-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.single-case-study-page .post-content,
.single-post-page .post-content {
  padding: 20px 50px 20px 0;
  font-size: 16px;
  min-height: 500px;
}

.sidebar .cat-item a:hover,
.current-cat a{
  color: #EE576B;
}

.faq-row {
  padding-top: 15px;
  margin-bottom: 25px;
}
.faq-icon {
  text-align: center;
}



.breadcrumbs {
  padding: 7px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.2);
  background-image: url('images/noise.png');
  background-repeat: repeat;
}

.breadcrumbs .title {
  font-size: 12px;
  padding:0;
  margin: 0;
}

.theme_bg_light .seperator-horizontal,
.theme_bg_light.breadcrumbs,
.theme_bg_lighter.breadcrumbs,
.theme_bg_light .section-title,
.theme_bg_dark .section-title {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.1);
}

.theme_bg_lighter.breadcrumbs {
  border-bottom: 1px solid rgba(255,255,255,1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.1);
}

.theme_bg_darker .seperator-horizontal,
.theme_bg_darker.breadcrumbs,
.theme_bg_darker .section-title {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.2);
}

.seperator-horizontal {
  border-bottom: 1px solid rgba(255,255,255,1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.1);
  height: 2px;
  margin: 10px 0;
  display: block;
}

.seperator-horizontal:last-child {
  border-bottom: none;
  box-shadow: none;
  display: none;
}

.strengths-page.strengths-section .seperator-horizontal:first-child{
  display: none;
}

.strengths-page.strengths-section {
  padding: 20px 0;
}

.section-read-more {
  background-color: rgba(0,0,0,0.03);
  background-image: url('images/noise.png');
  background-repeat: repeat;
}

.theme_bg_darker .section-read-more {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.2);
}

.theme_bg_white .section-read-more {
  background: none;
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.15);
}

.theme_bg_lighter .section-read-more {
  background: none;
  border-top: 1px solid rgba(255,255,255,1);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1);
}

.theme_bg_light .section-read-more,
.theme_bg_dark .section-read-more {
  border-top: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
}

.section-title {
  background-image: url('images/noise.png');
  background-repeat: repeat;
  border-bottom: 1px solid rgba(255,255,255,.9);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.1);
}

.section-title .container {

}

.section-title .title {
  margin: 0;
}

.tag-cloud {
  margin-top: 10px;
}
.tag-cloud a,
.categories a {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
}

.tag-cloud a {
  background: #585858;
  margin-bottom: 6px;
}

.categories a {
  background: #ccc;
  transition: background 0.5s;
  margin-bottom: 2px;
}

.categories a:hover {
  background: #EE576B;
  transition: background 0.5s;
}


.tag-cloud .current-cloud-term {
  background: #fff;
  color: #585858;
  border: 1px solid #5DC1B4;
  border: 1px solid #585858;
}

.faq-list .logo {
  margin-top: 35px;
}

.pdf-link{
  margin-right: 10px;
}

.pink .pdf-link:hover {
  color: #EE576B;
}

.teal .pdf-link:hover {
  color: #5DC1B4;
}

.yellow .pdf-link:hover {
  color: #FBC84E;
}

.orange .pdf-link:hover {
  color: #EE7B21;
}

.pdf-link .icon{
  margin-right: 5px;
  position: relative;
  top: 6px;

}

.faq-list li .container:hover .question-icon {
  -webkit-transform: rotate(0deg);
  transition: all .4s;
}

.faq-list li .container .question-icon {
  transition: all .4s;
}

.question-icon {
  -webkit-transform: rotate(180deg);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  color: rgba(255,255,255,0.6);
}

.rainbow-list .question-icon-small {
  float: left;
  margin: 0 10px 0 0;
  height: 20px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  text-align: center;
  line-height: 21px;
  font-size: 13px;
  color: #fff;
  color: rgba(255,255,255,0.6);
}

.question-icon.pink{
  color: #EE576B;
  border: 1px solid #EE576B;
}
.question-icon.teal{
  color: #5DC1B4;
  border: 1px solid #5DC1B4;
}
.question-icon.yellow{
  color: #FBC84E;
  border: 1px solid #FBC84E;
}
.question-icon.orange{
  color: #EE7B21;
  border: 1px solid #EE7B21;
}

.thank-you-message {
  opacity:.7;
}

.thank-you-message .edit-form {
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
}

.thank-you-message .fa {
  margin-right: 4px;
}

.pink .thank-you-message .fa {
  color: #EE576B;
}

.teal .thank-you-message .fa {
  color: #5DC1B4;
}

.yellow .thank-you-message .fa {
  color: #FBC84E;
}

.orange .thank-you-message .fa {
  color: #EE7B21;
}

.required {
  font-size: 10px;
  color: red;
  display: inline-block;
  position: relative;
  top: -3px;
  left: -2px;
}

/*.modal-dialog {
  width: 700px !important;
}*/

.animate-scale .scale-item {
  transform: scale(0.4);
  -ms-transform: scale(0.4); /* IE 9 */
  -webkit-transform: scale(0.4); /* Safari and Chrome */
  transition: all ease-in-out .8s;
}

.animate-scale:hover .scale-item{
  transform: scale(0.8);
  -ms-transform: scale(0.8); /* IE 9 */
  -webkit-transform: scale(0.8); /* Safari and Chrome */
  transition: all ease-in-out .5s;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  cursor:progress;
}

.preloader {
  display: none;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.disabled .preloader {
  display: inline-block;
  margin-right: 4px;
}


#latest-blog-posts li {
  padding-top: 7px;
  margin-top: 7px;
  border-top: 1px solid #222;
  box-shadow: 0px -1px 0 0 rgba(255,255,255,.1);
}

.box-center {
  margin: 0 auto;
  float: none;
}


.block {
  display: block;
}

#company-information .title {
  display: inline-block;
  padding: 5px;
  text-transform: none;
}

#company-information .title.phone {
  color: #ccc;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .tabs .item {
    height: auto;
    padding: 5px;
    text-align: center;
  }
  .tabs .item .title{
    text-align: center;
    font-size: 14px;
  }

  .tabs-content.active {
    padding: 0;
  }

  .tabs-content .title{
    margin: 0;
  }

  .nav {
    text-align: center;
  }

  .nav > li {
    display: block;
    text-align: center;
  }

  .thank-you-message {
    display: none;
  }

  .differences li {
    padding-bottom: 15px;
  }

  iframe {
    width: 100% !important;
    margin-top: 15px;
  }

  #logo {
    text-align: center;
    margin-bottom: 7px;
  }

  .intro {
    background-image: none !important;
    padding: 10px 0;
  }

  .header-area {
    display: none;
  }

  .sub-navigation .nav {
    display: block;
  }

  .sub-navigation .menu-item {
    font-size: 12px;
    padding: 0;
  }

  .sub-navigation .menu-item  >a {
    padding: 10px 1px;
    font-size: 11px;
  }

  .single-executive-member {
    overflow: auto;
    padding: 10px;
  }

  .advisor-member-link img,
  .executive-member-link img{
    width: 115px;
    margin-bottom: 5px;
  }

  .advisor-member-link .image,
  .executive-member-link .image{
    height: 120px;
  }

  .executive-member-link .title,
  .executive-member-link .subtitle {
    font-size: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
    overflow: hidden;
  }

  .col-xs-4 .member-photo img {
    width: 90px;
  }

  .more-videos .subtitle {
    height: auto;
  }

}


body #partners .parnter-logo.display-cell {
  display: block;
}

